.App {
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: flex;
}

.status {
  background-size: 10px 10px;
  background-position: center center;
}

.btn {
  background: lightblue;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0px;
  text-align: center;
  width: 100px;
  display: block;

}


